.Alert {
    padding: 15px;
    margin: 20px 15px;
    border: 1px solid transparent;
    border-radius: 4px;
    position: relative;
}

.Alert__close {
    width: 20px;
    height: 20px;
    top: 50%;
    margin-top: -10px;
    right: 15px;
    position: absolute;
}

.dismissable {
    padding-right: 50px;
}

.success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}

.danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}