.Modal {
    position: fixed;
    z-index: 500;
    background-color: white;
    width: 70%;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px black;
    left: 15%;
    top: 30%;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
    border-radius: 5px;
}

.Modal__header {
    padding: 15px;
    position: relative;
}

.Modal__close {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    margin-top: -10px;
    right: 15px;
    cursor: pointer;
}

.Modal__title {
    margin: 0 45px 0 0;
    text-align: left;
}

.Modal__content {
    border-top: 1px solid #ccc;
    text-align: left;
    padding: 15px;
    margin: 0;
}

.Modal__footer {
    border-top: 1px solid #ccc;
    padding: 15px;
    text-align: right;
}

@media (min-width: 600px) {
    .Modal {
        width: 500px;
        left: calc(50% - 250px);
    }
}