.Button {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    margin: 0 5px;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.Success {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}

.Danger {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}

.Primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}